body{
    font-family: arial, helvetica;
    background: skyblue;
}

.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

table {
    border-color: rgb(128, 0, 0);
    border-width: 5px;
    border-style: dotted;
    background-color: rgb(139, 238, 188);
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family: arial, sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.contenedor-redes-sociales {
    background:  rgb(192, 192, 192);
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.contenedor-redes-sociales a {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    background: rgb(255, 255, 255);
    margin: 5px;
}

.contenedor-redes-sociales a:after, .contenedor-redes-sociales a:before {
    display: none;
}

.contenedor-redes-sociales a span.cuadrado {
    display: block;
    background: #fff;
    line-height: 30px;
    height: 30px;
    width: 30px;
}

.contenedor-redes-sociales a span.cuadrado i {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.contenedor-redes-sociales a span.titulo {
    margin: 0 20px;
    font-size: 16px;
    transition: all 200ms linear;
}

.contenedor-redes-sociales a:hover span.titulo {
    color: rgb(36, 140, 209)
}

/*---------------Colores de los botones---------------*/

.contenedor-redes-sociales .facebook:hover,
.contenedor-redes-sociales .twitter:hover,
.contenedor-redes-sociales .instagram:hover
{
    -webkit-box-shadow: 0 0 5px rgba(35, 16, 143, 0.8);
    box-shadow: 0 0 5px rgba(79, 19, 102, 0.8);
}

.contenedor-redes-sociales .facebook {
    border: 2px solid #3b5998;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contenedor-redes-sociales .facebook:hover,
.contenedor-redes-sociales .facebook span.cuadrado {
    background: #3b5998;
}

.contenedor-redes-sociales .facebook span.titulo {
    color: #3b5998;
}

.contenedor-redes-sociales .twitter {
    border: 2px solid #55ACEE;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contenedor-redes-sociales .twitter:hover,
.contenedor-redes-sociales .twitter span.cuadrado {
    background: #55ACEE;
}

.contenedor-redes-sociales .twitter span.titulo {
    color: #55ACEE;
}

.contenedor-redes-sociales .instagram {
    border: 2px solid #af29a4;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.contenedor-redes-sociales .instagram:hover,
.contenedor-redes-sociales .instagram span.cuadrado {
    background: #af29a4;
}

.contenedor-redes-sociales .instagram span.titulo {
    color: #af29a4;}


    /*--------------Mediaqueries--------------*/

    @media screen and (max-width:480px) {
        .contenedor-redes-sociales a {
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
        }
    }

    
    .clock {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #000000;
        font-size: 60px;
        font-family: Orbitron;
        letter-spacing: 7px;
    }


    .container{
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
